const commonEnv = {
  BOT_KEY: '',
  CRYPTOCOMPARE_API_KEY: ''
}

module.exports = {
  apps: [
    {
      name: 'inevitable-cool-bot',
      script: './app/bot.js',
      watch: true,
      ignore_watch : ['node_modules', 'files'],
      disable_trace: false,
      fork_mode: true,
      env: commonEnv
    },
    {
      name: 'rates-cron-script',
      script: 'app/scripts/bitcoinRate.js',
      watch: false,
      disable_trace: false,
      fork_mode: true,
      cron: '* * * * *',
      autorestart: false,
      instances: 1,
      env: commonEnv
    }
  ]
};
