/*
POSTGRES_CONNECT_URI=postgres://login:pass@localhost:5432/learning_bot_test ./node_modules/mocha/bin/mocha ./tests/ --recursive --exit
 */

const testEnvParams = {
  BOT_KEY: '',
  CRYPTOCOMPARE_API_KEY: '',
  POSTGRES_CONNECT_URI: ''
}
const productionEnvParams = {
  BOT_KEY: '',
  CRYPTOCOMPARE_API_KEY: '',
  POSTGRES_CONNECT_URI: ''
}

module.exports = {
  testEnvParams,
  apps: [
    {
      name: 'inevitable-cool-bot',
      script: './src/bot.js',
      watch: ['src'],
      fork_mode: true,
      disable_trace: false,
      env: {
        ...productionEnvParams,
        NODE_ENV: 'development'
      }
    },
    {
      name: 'rates-cron-script',
      script: './src/scripts/bitcoinRate.js',
      watch: false,
      disable_trace: false,
      cron: '* * * * *',
      autorestart: false,
      fork_mode: true,
      instances: 1,
      env: {
        ...productionEnvParams,
        NODE_ENV: 'development'
      }
    }
  ]
};
